{% extends 'base.html.twig' %}
{% block title %}Forgot Password{% endblock %}
{% block body %}
<h3 class="text-center">Password Reset</h3>
<div class="form-signup" style="width:400px">
	{{ form_start(resetForm) }}
    {{ form_row(resetForm.email) }}
    <div class="help-inline pb-2 text-danger">* denotes required field</div>
    <button type="submit" class="btn btn-success btn-block" name="submit">Reset</button>
	{{ form_end(resetForm) }}
</div>
{% endblock %}
		
