###> symfony/framework-bundle ###
/.env.local
/.env.dev.local
/.env.prod.local
/.env.local.php
/.env.local.prod
/.env.local.prod.php
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/public/.htaccess.http
/public/.htaccess.https
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> FriendsOfPHP/PHP-CS-Fixer ###
.php_cs.cache
.php-cs-fixer.cache
###< FriendsOfPHP/PHP-CS-Fixer ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> rector/rector ###
rector.php
###< rector/rector ###

###> symfony/webpack-encore-bundle ###
/node_modules/
#/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
