{% extends 'base.html.twig' %}
{% block title %}Delete{% endblock %}
{% block body %}
<h3 class="text-center">Delete Ride</h3>
<div class="form-signup" style="background-color:#ffffff; width:500px">
	<p class="text-left">Are you sure you want to delete this ride?</p>
	{{ form_start(deleterideForm) }}
	<div class="row mb-1">
		<div class="d-grid col-6">
		    <a href="{{ app.request.headers.get('referer') }}" class="btn btn-primary" style="width:auto"><i class="far fa-hand-point-left"></i> No, take me back</a>
		</div>
		<div class="d-grid col-6">
		    <button type="submit" class="btn btn-danger" name="submit" style="width:auto"><i class="far fa-trash-alt"></i> Yes, delete it already</button>
		</div>
	</div>
	{{ form_end(deleterideForm) }}
</div>
{% endblock %}
