{% extends 'base.html.twig' %}
{% block title %}Message Users{% endblock %}
{% block body %}
<h3 class="text-center">Message Users</h3>
<div class="form">
	{{ form_start(email_form) }}
    {{ form_widget(email_form) }}
    <div class="row mb-1">
      <div class="d-grid col-6">
          <button type="button" onclick="monthReminder()" class="btn btn-outline-secondary" style="width:auto">Monthly Message</button>
      </div>
      <div class="d-grid col-6">
          <button type="button" onclick="annualMessage()" class="btn btn-outline-secondary" style="width:auto">Annual Message</button>
      </div>
    </div>
    <div class="help-inline pb-2 text-danger">* denotes required field</div>
    <button type="submit" class="btn btn-primary" name="submit">Send</button>
	{{ form_end(email_form) }}
</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
  function monthReminder() {
    let months = ['January','February','March','April','May','June','July','August','September','October','November','December'];
    let now = new Date();
      document.getElementById("form_message").value =
      'Dear Century Challenge User,' + String.fromCharCode(13) + 
      'Just a gentle reminder to add your rides for ' + months[now.getMonth()] + '.  ' +
      'The deadline for adding any rides is midnight on last day of the month.  ' +
      'If you have not submitted any rides by this time you will get the boot!' + String.fromCharCode(13) + 
      'Thank you, Admin.';
  }

  function annualMessage() {
      document.getElementById("form_message").value =
      'Dear Century Challenge User,' + String.fromCharCode(13) + 
      'You are currently signed up for the LFCC century challenge.  ' +
      'If you no longer wish to be signed up please reply to this message and I will remove you from the database.  ' +
      'Do not forget to add your 100km rides before the end of January to avoid being disqualified!' + String.fromCharCode(13) + 
      'Thank you, Admin.';
  }
</script>
{% endblock %}
