{% extends 'base.html.twig' %}
{% block title %}Contact Form{% endblock %}
{% block body %}
<div class="row justify-content-center">
  <div class="col-md-7">
    <div class="card">
      <div class="card-header text-center">
	<h2>Contact Form</h2>
      </div>
      <div class="card-body">
	{{ form_start(email_form) }}
	{{ form_widget(email_form) }}
	<div class="help-inline pb-2 text-danger">* denotes required field</div>
	<button type="submit" class="btn btn-success btn-block" name="submit">Send</button>
	{{ form_end(email_form) }}
      </div>
    </div>
  </div>
</div>
{% endblock %}
