{% extends 'base.html.twig' %}
{% block title %}Contact{% endblock %}
{% block body %}
<h3 class="text-center">Contact Century Challenge</h3>
<div class="form-signup">
	{{ form_start(email_form) }}
    {{ form_widget(email_form) }}
    <div class="help-inline pb-2 text-danger">* denotes required field</div>
    <button type="submit" class="btn btn-primary" name="submit">Send</button>
	{{ form_end(email_form) }}
</div>
{% endblock %}
