<h3>Password Reset</h3>
<p>Hi {{ name }}</p> 
<p>Your username is <b>{{ username }}</b>.
<p>To reset your password click on the following link <a href="{{ url }}">{{ url }}</a>.</p>
<p>Thank you, Admin</p>
