<h3>Password Reset</h3>
<p>Warning! Someone has just requested a password reset from {{ url('homepage') }} to this email address. 
This address is not registered with the site, please visit the login page at <a href="{{ url('login') }}">{{ url('login') }}</a> to either login or request a password reset to the 
correct email address.</p>
<p>Thanks!</p>
