{% extends 'base.html.twig' %}
{% block title %}Rules{% endblock %}
{% block body %}
<h1>Century Challenge Rules</h1>
<p class="lead">The challenge is open to everyone, but please read the following rules:</p>
<ol>
  <li class="pl-2 pt-1">Each month, every challenger must ride at least one ride of 100 km (62.5 miles) or more. Failure to do so each month means you get the boot!</li>
  <li class="pl-2 pt-1">Each 100 km ride will give the rider 10 points.</li>
  <li class="pl-2 pt-1">Each additional 50 km will give the rider a further 5 points, <em>i.e.</em> 150 km = 15 points, 200 km = 20 points, <em>etc</em>.</li>
  <li class="pl-2 pt-1">Each rider will be responsible for entering their own rides.</li>
  <li class="pl-2 pt-1">In order to qualify for the Century Challenge trophy at least 12 of your rides must be club rides.  These must be logged via Strava for verification.</li>
  <li class="pl-2 pt-1">No indoor rides, bikes like to be outside.</li>
  <li class="pl-2 pt-1">All entrants must enter their ride and at least one 100 km ride before the end of January to register for the challenge!</li>
  <li class="pl-2 pt-1">Any rides added after midnight on the last day of the month will not be counted and if the rider has not registered any other rides they will get the boot.</li>
</ol>
{% endblock %}